# Ignore Terraform cache & state
.terraform/
terraform.tfstate
terraform.tfstate.*
terraform/.terraform.lock.hcl

# Ignore .NET build artifacts
bin/
obj/
*.log

# Ignore user-specific files
*.suo
*.user
*.vs
.vscode/

# Ignore sensitive files
*.pem
*.key

